body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.active {
  border-bottom: 0.125rem solid red;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-left: 1.55rem;
}

button {
  cursor: pointer;
}